{% extends "::base.html.twig" %}
{% block container %}
    <div class="container mar-top50">
    {% block body %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #000; margin-bottom: 10px;">
            <h2>Detali Paieška</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="navbar-form" action="{{ path('MainSearch') }}">
                <div>
                    <div>
                        <div class="form-group w100pc">
                            <input name="noriu" type="text" value="{{ noriuValue }}" placeholder="Noriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div class="form-group w100pc">

                            <input name="nenoriu" type="text" value="{{ nenoriuValue }}" placeholder="Nenoriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div>
                            Studijų trukmė (tiksli)
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-12">
                                <div class="range-slider">
                                    <input class="range-slider__range" name="length" type="range"
                                        {% if lengthValue is not null %}
                                            value="{{ lengthValue }}"
                                        {% else %}
                                            value="4"
                                        {% endif %}
                                        min="3" max="6">
                                    <span class="range-slider__value">0</span>
                                </div>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div>
                            Didžiausia studijų kaina (per metus)
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-12">
                                    <div class="range-slider">
                                        <input class="range-slider__range" name="price" type="range"
                                               {% if priceValue is not null %}
                                                   value="{{ priceValue }}"
                                               {% else %}
                                                   value="2000"
                                               {% endif %}
                                               min="0" max="4000" step="100">
                                        <span class="range-slider__value">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/><br/>
                <div style="text-align: right">
                    <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span> Ieškoti</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            {% for program in programArray %}
                {% include 'AppBundle:Search:singleProgram.html.twig' %}
            {% endfor %}
        </div>
    </div>
    ​{% endblock %}
    {% block footer %}
    {{ parent() }}
    {% endblock %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}