{% extends "::base.html.twig" %}
{% block container %}
    <div class="container mar-top50">
        {% block body %}
            <div class="row">
                <div class="col-md-12" style="border-bottom: 1px solid #000; margin-bottom: 10px;">
                    <h2>{{ program.name }}</h2>
                    <h4>{{ program.university }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <h3>Papildoma informacija</h3>
                    </p>
                    <table class="table table-striped">
                        <tbody>
                        {% if program.faculty is not null %}
                            <tr>
                                <td>Padalinys:</td>
                                <td>{{ program.faculty }}</td>
                            </tr>
                        {% endif %}
                        {% if program.field is not null %}
                            <tr>
                                <td>Studijų sritis:</td>
                                <td>{{ program.field }}</td>
                            </tr>
                        {% endif %}
                        {% if program.branch is not null %}
                            <tr>
                                <td>Studijų kryptis (šaka):</td>
                                <td>{{ program.branch }}</td>
                            </tr>
                        {% endif %}
                        {% if program.degree is not null %}
                            <tr>
                                <td>Suteikiamas kvalifikacinis laipsnis:</td>
                                <td>{{ program.degree }}</td>
                            </tr>
                        {% endif %}
                        {% if program.length is not null %}
                            <tr>
                                <td>Trukmė:</td>
                                <td>{{ program.length }} metai</td>
                            </tr>
                        {% endif %}
                        {% if program.form is not null %}
                            <tr>
                                <td>Studijų forma:</td>
                                <td>{{ program.form }}</td>
                            </tr>
                        {% endif %}
                        {% if program.price is not null %}
                            <tr>
                                <td>Metinė studijų kaina:</td>
                                <td>{{ program.price }} EUR</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if program.description is not null %}
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: justify;"><span>{{ program.description }}</span></p>
                </div>
            </div>
            {% endif %}
            {% if (subjects is not null) %}
                <h3>Dėstomi dalykai</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Pavadinimas</td>
                            <td>Kreditų skaičius</td>
                            {% if withSemesters %}
                                <td>Vertinimas</td>
                            {% endif %}
                            <td>Privalomas</td>
                        </tr>
                {% if withSemesters %}
                    {% for key, semester in subjects %}
                        <tr><td colspan="4"><b>{{ key + 1 }} semestras</b></td></tr>
                        {% for subject in semester %}
                            <tr>
                                <td>{% if subject.name is not null %} {{ subject.name }} {% endif %}</td>
                                <td>{% if subject.credits is not null %} {{ subject.credits }} {% endif %}</td>
                                <td>{% if subject.assessment is not null %} {{ subject.assessment }} {% endif %}</td>
                                <td>
                                    {% if subject.arbitrary is not null %}
                                        {{ subject.arbitrary ? 'Taip': 'Ne' }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for subject in subjects %}
                        <tr>
                            <td>{% if subject.name is not null %} {{ subject.name }} {% endif %}</td>
                            <td>{% if subject.credits is not null %} {{ subject.credits }} {% endif %}</td>
                            {% if subject.assessment is not null %}<td> {{ subject.assessment }} </td>{% endif %}
                            <td>
                                {% if subject.arbitrary is not null %}
                                    {{ subject.arbitrary ? 'Taip': 'Ne' }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                    </tbody>
                </table>
            {% endif %}
            ​{% endblock %}
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}